<a href="https://colab.research.google.com/github/SeemaTabassum/INTERNSOFT/blob/main/Day5session5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import the library
import math

In [ ]:
# use it (ceiling rounding)
math.ceil(2.4)

3

In [ ]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [ ]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [ ]:
help(math.gcd)

Help on built-in function gcd in module math:

gcd(x, y, /)
    greatest common divisor of x and y

In [ ]:
# Just an example, this won't work
import foo.bar

ModuleNotFoundError: ignored

In [ ]:
# OR could do it this way
from foo import bar

ModuleNotFoundError: ignored

In [ ]:
__init__.py:

__all__ = ["bar"]

SyntaxError: ignored

In [ ]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Content written successfully

In [1]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Error: Could not find file or read data

In [2]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except:
    # This will check for any exception and then execute this print statement
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Content written successfully

In [3]:
try:
   f = open("testfile", "w")
   f.write("Test write statement")
finally:
   print("Always execute finally code blocks")

Always execute finally code blocks

In [4]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            
        finally:
            print("Finally, I executed!")
        print(val)

In [5]:
askint()

Please enter an integer: 10
Finally, I executed!
10

In [6]:
askint()

Please enter an integer: 456
Finally, I executed!
456

In [7]:
askint()

Please enter an integer: abc
Looks like you did not enter an integer!
Finally, I executed!

UnboundLocalError: ignored

In [8]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            val = int(input("Try again-Please enter an integer: "))
        finally:
            print("Finally, I executed!")
        print(val)

In [9]:
askint()

Please enter an integer: 123
Finally, I executed!
123

In [10]:
askint()

Please enter an integer: abcd
Looks like you did not enter an integer!
Try again-Please enter an integer: abc
Finally, I executed!

ValueError: ignored

In [11]:
def askint():
    while True:
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            continue
        else:
            print('Yep thats an integer!')
            break
        finally:
            print("Finally, I executed!")
        print(val)

In [12]:
askint()

Please enter an integer: 12
Yep thats an integer!
Finally, I executed!

In [13]:
askint()

Please enter an integer: ab
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: lm
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: 12
Yep thats an integer!
Finally, I executed!

In [14]:
#!/usr/bin/python

import sqlite3
#connecting with the database.

db = sqlite3.connect("my_database1.db")

# Drop table if it already exist using execute() method.
db.execute("drop table if exists grades1")

# Create table as per requirement
db.execute("create table grades1(id int, name text, score int)")

#inserting values inside the created table
db.execute("insert into grades1(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [15]:
db.commit()

In [16]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print(row)
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
(105, 'Kris', 95)
------------------------------------------------------------

In [17]:
results = db.execute("select * from grades1 where name = 'Gary' ")
for row in results:
    print(row)
print("-" * 60 )

(102, 'Gary', 90)
------------------------------------------------------------

In [18]:
results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(105, 'Kris', 95)
------------------------------------------------------------

In [19]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

('John', 99)
('Kris', 95)
('Gary', 90)
('Cathy', 85)
('James', 80)
------------------------------------------------------------

In [20]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)
------------------------------------------------------------

In [21]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)